@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Heebo&family=Quicksand:wght@400;500&family=Ubuntu&display=swap');
.main {
    position: relative;
    /*top: 55px;*/
    left: 0;
    right: 0;
    padding-top: 55px;
    font-family: circeRegular,sans-serif;
    color: #fff;
    font-weight: 600;
    overflow: hidden;
}