.footer{
    background: #141414;
    color: hsla(0,0%,100%,.6);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: circeRegular, sans-serif;
}
.social__icons {
    display: flex;
    align-items: center;
    gap: 30px;
/*hsla(0,0%,100%,.902)*/
}
.social__btn1, .social__btn2, .social__btn3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.social__btn1 svg path {
    transition: .2s ease-out;
}
.social__btn1:hover svg path {
    fill: hsla(0,0%,100%,.9);
}
.social__btn2 svg path {
    transition: .2s ease-out;
}
.social__btn2:hover svg path {
    fill: hsla(0,0%,100%,.9);
}
.social__btn3 svg path {
    transition: .2s ease-out;
}
.social__btn3:hover svg .social__btn3__svg__path {
    fill: hsla(0,0%,100%,.9);
}
.quickLinks {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-bottom: 20px;
}
.quickLinks span {
    font-size: 16px;
    cursor: pointer;
    transition: .2s ease-out;
}
.quickLinks span:hover {
    color: hsla(0,0%,100%,.9);
}
.copyrightText {
    text-align: center;
    background: #333333;
    width: 100%;
    padding: 10px 0;
}