.carousel {
    margin: 0 auto;
    width: 100%;
    position: relative;
}
.carousel .slick-arrow.slick-prev,
.carousel .slick-arrow.slick-next {
    backdrop-filter: blur(13px);
    background: hsla(258,4%,55%,.32);
    width: 47px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    box-shadow: 1px 2px 10px -1px rgb(0 0 0 / 30%);
    transition: filter .3s ease;
}
.carousel .slick-prev {
    left: 0;
    border-radius: 8px;
    position: absolute;
}
.carousel .slick-prev:hover {
    filter: brightness(.8);
}
.carousel .slick-next {
    /*right: 47px;*/
    position: absolute;
    right: 0;
    border-radius: 8px;
}
.carousel .slick-next:hover {
    filter: brightness(.8);
}
.slick-prev::before,
.slick-next::before {
    display: none;
}
.custom-indicator {
    bottom: -65px;
}
.custom-indicator li {
    width: 50px;
    height: 50px;
    filter: grayscale(100%);
}
.custom-indicator li.slick-active {
    filter: grayscale(0%);
}
.multi__image:hover {
    transform: scale(1.1);
    transition: 500ms;
}